* {
    font-family: "Kumbh Sans", sans-serif;
}

body {
    background-color: #19A1AE;
    overflow: hidden;
}

.card-container {
    width: 350px;
    height: 374px;
    background-color: white;
    border-radius: 15px;
    position:relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
}

.card-background {
    width: 350px;
    height: 144px;
    background-color: #41CBD3;
    border-radius: 15px 15px 0 0;
    position: relative;
    overflow: hidden;
}

.ovals-one {
    position: absolute;
    top: 0px;
    left: 12px;
    transform: translate(-5%, 1%);
    display: flex;
    gap: 6px; 
}

.ovals-one .oval {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.ovals-one .oval:nth-child(1){
    background-image: linear-gradient(15deg, #0989B4, #53FFEE);
}
.ovals-one .oval:nth-child(2){
    background-image: linear-gradient(35deg, #0989B4, #53FFEE);
}
.ovals-one .oval:nth-child(3){
    background-image: linear-gradient(265deg, #0989B4, #53FFEE);
}
.ovals-one .oval:nth-child(4){
    background-image: linear-gradient(190deg, #0989B4, #53FFEE);
}
.ovals-one .oval:nth-child(5){
    background-image: linear-gradient(95deg, #0989B4, #53FFEE);
}
.ovals-one .oval:nth-child(6){
    background-image: linear-gradient(10deg, #0989B4, #53FFEE);
}
.ovals-one .oval:nth-child(7){
    background-image: linear-gradient(155deg, #0989B4, #53FFEE);
}
.ovals-one .oval:nth-child(8){
    background-image: linear-gradient(175deg, #0989B4, #53FFEE);
}

.ovals-two {
    position: absolute;
    top: 40px;
    left: 0px;
    transform: translate(-9%, 1%);
    display: flex;
    gap: 6px; 
}

.ovals-two .oval {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.ovals-two .oval:nth-child(1){
    background-image: linear-gradient(1522deg, #0989B4, #53FFEE);
}
.ovals-two .oval:nth-child(2){
    background-image: linear-gradient(353deg, #0989B4, #53FFEE);
}
.ovals-two .oval:nth-child(3){
    background-image: linear-gradient(2625deg, #0989B4, #53FFEE);
}
.ovals-two .oval:nth-child(4){
    background-image: linear-gradient(190deg, #0989B4, #53FFEE);
}
.ovals-two .oval:nth-child(5){
    background-image: linear-gradient(951deg, #0989B4, #53FFEE);
}
.ovals-two .oval:nth-child(6){
    background-image: linear-gradient(1062deg, #0989B4, #53FFEE);
}
.ovals-two .oval:nth-child(7){
    background-image: linear-gradient(1551deg, #0989B4, #53FFEE);
}
.ovals-two .oval:nth-child(8){
    background-image: linear-gradient(1735deg, #0989B4, #53FFEE);
}

.ovals-three {
    position: absolute;
    top: 80px;
    left:12px;
    transform: translate(-5%, 1%);
    display: flex;
    gap: 6px; 
}

.ovals-three .oval {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.ovals-three .oval:nth-child(1){
    background-image: linear-gradient(152deg, #0989B4, #53FFEE);
}
.ovals-three .oval:nth-child(2){
    background-image: linear-gradient(351deg, #0989B4, #53FFEE);
}
.ovals-three .oval:nth-child(3){
    background-image: linear-gradient(265deg, #0989B4, #53FFEE);
}
.ovals-three .oval:nth-child(4){
    background-image: linear-gradient(1907deg, #0989B4, #53FFEE);
}
.ovals-three .oval:nth-child(5){
    background-image: linear-gradient(953deg, #0989B4, #53FFEE);
}
.ovals-three .oval:nth-child(6){
    background-image: linear-gradient(105deg, #0989B4, #53FFEE);
}
.ovals-three .oval:nth-child(7){
    background-image: linear-gradient(624deg, #0989B4, #53FFEE);
}
.ovals-three .oval:nth-child(8){
    background-image: linear-gradient(190deg, #0989B4, #53FFEE);
}

.ovals-four {
    position: absolute;
    top: 120px;
    left: 0px;
    transform: translate(-9%, 1%);
    display: flex;
    gap: 6px; 
}

.ovals-four .oval {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-shrink: 0;
}

.ovals-four .oval:nth-child(1){
    background-image: linear-gradient(720deg, #53FFEE, #0989B4);
}
.ovals-four .oval:nth-child(2){
    background-image: linear-gradient(330deg, #53FFEE, #0989B4);
}
.ovals-four .oval:nth-child(3){
    background-image: linear-gradient(265deg, #53FFEE, #0989B4);
}
.ovals-four .oval:nth-child(4){
    background-image: linear-gradient(190deg, #53FFEE, #0989B4);
}
.ovals-four .oval:nth-child(5){
    background-image: linear-gradient(130deg, #53FFEE, #0989B4);
}
.ovals-four .oval:nth-child(6){
    background-image: linear-gradient(80deg, #53FFEE, #0989B4);
}
.ovals-four .oval:nth-child(7){
    background-image: linear-gradient(50deg, #53FFEE, #0989B4);
}
.ovals-four .oval:nth-child(8){
    background-image: linear-gradient(20deg, #53FFEE, #0989B4);
}

.card-image  {
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%, 15%);
}

.card-image .image{
    width:96px;
    height: 96px;
    border-radius: 50%;
    border: 8px solid white;
    object-fit: cover;
    object-position: center;
}

#name {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, 15%);
    font-size: 18px;
    font-weight: 700;
    color: #2E3349;
}

#age {
    color: #6B7082;
    font-weight: 400;
}

#city {
    position: absolute;
    top:56%;
    left:50%;
    transform: translate(-50%, 15%);
    font-size: 14px;
    font-weight: 400;
    color: #6B7082;
}

#line {
    position: relative;
    top: 30%;
}

.follower {
    position: absolute;
    top: 73%;
    left: 13%;
    text-align: center;
}

.follower .num {
    color: #2E3349;
    font-size: 18px;
    font-weight: 700;
}

.follower .title {
    color: #6B7082;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    bottom: -10px;
    left: -10px;
    letter-spacing: 1.5px;
}

.likes {
    position: absolute;
    top: 73%;
    left: 44%;
    text-align: center;
}

.likes .num {
    color: #2E3349;
    font-size: 18px;
    font-weight: 700;
}

.likes .title {
    color: #6B7082;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    bottom: -10px;
    left: 8px;
    letter-spacing: 1.5px;
}

.photos {
    position: absolute;
    top: 73%;
    left: 77%;
    text-align: center;
}

.photos .num {
    color: #2E3349;
    font-size: 18px;
    font-weight: 700;
}

.photos .title {
    color: #6B7082;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    bottom: -10px;
    letter-spacing: 1.5px;
}

.circle-one {
    width: 1000px;
    height: 1000px;
    background-image: linear-gradient(130deg,  #53FFEE, #0989B4);
    position: absolute;
    border-radius: 50%;
    bottom: 30%;
    right: 50%;
}

.circle-two {
    width: 1000px;
    height: 1000px;
    background-image: linear-gradient(130deg,  #53FFEE, #0989B4);
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
}